#header-wrap {
  border-bottom: none !important;
}
#logo {
  border-right: none !important;
}
.menu-container {
  border-right: none !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
}
